body {
    background: #7648e0;
    background: radial-gradient(circle, rgba(118, 72, 224, 1) 0%, rgba(98, 147, 204, 1) 100%);
    font-family: 'tahoma', serif;
}

.card {
    background: #400abf;
    background: linear-gradient(187deg, rgba(64, 10, 191, 1) 0%, rgba(221, 229, 240, 1) 100%);
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avatar-container {
    margin-bottom: 20px;

}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.description-container {
    margin-bottom: 20px;
}

.contact-container {
    margin-bottom: 20px;
    font-weight: bold;
}



.links-container a {
    display: inline-block;
    margin: 10px;
    padding: 15px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.link-card {
    margin: 0 15px;
    text-decoration: none;
    color: black;

}

.card ul {
    text-align: left;
    margin-top: 5px;

}

.card ls {
    margin-bottom: 10px;
    
}

#downloadBtn {
    display: inline-block;
    margin: 10px;
    padding: 8px;
    background: #e24dd8f1;
    color: rgb(10, 4, 4);
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    
}